nav.categories {
  width: 100%;
  position: fixed;
  top: 0;

  ul {
    margin: 0;
    padding-left: 0;
    text-align: right;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    background-position: top;
    list-style: none;
  }

  .navlogo {
    width: 20px;
    height: 50px;
    transform: rotateZ(-10deg);
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  nav li::after {
    bottom: 35px;
  }
}

ul.top {
  padding-top: 3em;
  list-style: none;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

p {
  text-align: left;
  // height: auto;
}

.continue {
  text-align: center;
  border: 2px solid hsl(120, 61%, 65%);
  border-radius: 10px;
  background-color: hsl(120, 61%, 65%);
  color: white;
  font-size: 20px;
}
