li.chefpage {
  background-color: black;
  list-style: none;
  margin-bottom: 20px;

  img {
    margin-top: 10px;
    width: 20px;
    height: 40px;
    transform: rotateZ(-10deg);
    padding-left: 10px;
  }
}

h1 {
  color: black;
}

.picture {
  position: relative;
}

.chefhaze {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(360, 100%, 100%, 0.53);
}

.chefcanvas {
  background-image: url('https://images.pexels.com/photos/262918/pexels-photo-262918.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

.chefdiv {
  section {
    max-width: 500px;
    padding: 10px;

    > div {
      font-family: $content-font-family;
      width: 100%;
      // padding: 10%;
      font-size: 15px;
      display: flex;

      h3 {
        flex-direction: column;
        color: black;
        border: 3px solid #53bf6b;
        border-radius: 50%;
        font-size: 12px;
        padding: 4%;
        width: 4%;
        text-align: center;
        margin-left: 10%;
      }

      label {
        display: block;
        font-size: 20px;
      }

      input {
        width: 200px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;

        button {
          border: none;
        }
      }
    }
  }
}
