header.home {
  background-image: url('https://static.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 2em;
  opacity: 0.7;
  // filter: alpha(opacity=50);
}

header.home h1 {
  text-align: center;
  font-size: 500%;
  padding-top: 3em;
  color: #fff;
  opacity: 1;
}

p.values {
  font-family: 'Open Sans';
  color: hsla(360, 100%, 100%, 0.9);
  background-color: hsl(120, 61%, 65%);
  font-size: 18px;
  margin-top: 0;
  padding-bottom: 3em;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;

  h2 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-color: hsl(120, 61%, 65%);
    margin-top: 0;
    font-size: 40px;
    color: hsla(360, 100%, 100%, 0.9);
  }
}

p.guest {
  font-family: 'Open Sans';
  color: black;
  background-color: hsla(360, 100%, 100%, 0.9);
  font-size: 18px;
  margin-top: 0;
  padding-bottom: 3em;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;

  h2 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-color: hsla(360, 100%, 100%, 0.9);
    margin-top: 0;
    font-size: 40px;
    color: black;
    text-align: right;
  }

  nav {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    border: 2px solid hsl(120, 61%, 65%);
    border-radius: 10px;
    background-color: hsl(120, 61%, 65%);
    color: white;
    font-size: 20px;
    margin-left: 15em;
    margin-right: 5em;
    margin-top: 0.5em;
    width: 200px;
    height: 30px;
  }

  a {
    color: hsla(360, 100%, 100%, 0.9);
    text-decoration: none;
  }
}


p.chef {
  font-family: 'Open Sans';
  color: hsla(360, 100%, 100%, 0.9);
  background-color: black;
  font-size: 18px;
  margin-top: 0;
  padding-bottom: 2em;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;

  h2 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-color: black;
    margin-top: 0;
    font-size: 40px;
    color: hsla(360, 100%, 100%, 0.9);
  }
}

footer {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 1em;
}
