// .bounce {
//   width: 50px;
//   position: absolute;
//   top: 92%;
//   left: 45%;
//   transform: translate(-50%, -50%);
//   color: #fff;
//   text-transform: uppercase;
// }

.fa {
  text-align: center;
  color: white;
  width: 7px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;

  // &.menu {
  //   opacity: 1;
  //   transition: opacity 250ms ease;
  //
  //   &.hidden {
  //     opacity: 0;
  //   }
}

.picture {
  position: relative;
}

.haze {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0%, 0%, 0.5);
}

.home {
  background-image: url('https://static.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 2em;
  opacity: 1s;
  // filter: alpha(opacity=50);
}

.logo {
  width: 300px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catcher {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #53bf6b;
  font-family: 'Unica One', cursive;
}

.para {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

p.values {
  font-family: 'Open Sans';
  color: hsla(360, 100%, 100%, 0.9);
  background-color: #53bf6b;
  font-size: 16px;
  margin-top: 0;
  padding-bottom: 3em;
  overflow: hidden;
  padding-left: 3em;
  padding-right: 3em;

  h2 {
    font-family: $section-font-family;
    font-size: 30px;
    letter-spacing: -2px;
    color: hsla(360, 100%, 100%, 0.9);
    margin-top: 1em;
  }
}

//implement parrallax in this section//
// .guestpicture {
//   background-image: url('http://prefundia.com/uploads/projects/5977/147d105ab2eccaf70ece27ad7e401ce6.png');
// }

p.guest {
  font-family: 'Open Sans';
  color: black;
  background-color: hsla(360, 100%, 100%, 0.9);
  font-size: 16px;
  margin-top: 0;
  padding-bottom: 3em;
  overflow: hidden;
  padding-left: 3em;
  padding-right: 3em;

  h2 {
    font-family: $section-font-family;
    font-size: 30px;
    letter-spacing: -2px;
    color: black;
    text-align: right;
    margin-right: 1em;
    margin-top: 0.5em;
  }

  nav {
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    border: 2px solid #53bf6b;
    border-radius: 6px;
    background-color: #53bf6b;
    color: white;
    font-size: 15px;
    margin-right: 5em;
    margin-top: 0.5em;
    width: 130px;
    height: 20px;
  }

  a {
    color: hsla(360, 100%, 100%, 0.9);
    text-decoration: none;
  }
}


p.chef {
  font-family: 'Open Sans';
  color: white;
  background-color: hsla(0, 0%, 54%, 1);
  font-size: 16px;
  margin-top: 0;
  padding-bottom: 4em;
  overflow: hidden;
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 0;

  h2 {
    font-family: $section-font-family;
    font-size: 30px;
    letter-spacing: -2px;
    color: hsla(360, 100%, 100%, 0.9);
    margin-top: 1em;
  }

  nav {
    display: block;
    position: absolute;
    right: 0;
    text-align: center;
    border: 2px solid #53bf6b;
    border-radius: 6px;
    background-color: #53bf6b;
    color: white;
    font-size: 15px;
    margin-top: 0.5em;
    width: 130px;
    height: 20px;
  }

  a {
    color: hsla(360, 100%, 100%, 0.9);
    text-decoration: none;
  }
}

footer {
  padding: 20px 0;
  // position: fixed;
  text-align: center;
  color: hsla(0, 0%, 54%, 1);
  background-color: white;
}
