.mealModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.66);

  section {
    background-color: #fafafa;
    width: 300px;
    padding: 1em;
  }

  h3 {
    font-family: $section-font-family;
    font-size: 20px;
    letter-spacing: -1px;
    text-align: center;
  }

  .continue {
    margin-left: 110px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
