@import 'utility';

$base-text-size: 14px;
$base-font-family: 'Fira Sans Extra Condensed', sans-serif;
$content-font-family: 'Open Sans', sans-serif;

html {
  text-size-adjust: 100%;
  height: 100vh;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

@import 'home';
@import 'categories';
@import 'mealModal';
